/* .root {
    width: 100%;
    min-height: 100vh;
    background-image: url("/src/assets/section3/mobile-assets/launchtimerbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.titleContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.countdownContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.countdown {
    padding: 40px 20px;
    background-image: url("/src/assets/section3/countdownpaper.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 3rem;
    font-family: "Blow Brush";
}

.countdown span {
    margin-left: 10px;
}

.countdownNumber {
    margin-left: 20px !important;
    display: block;
    line-height: 100px;
    font-size: 4rem;
}

.getbetrayedbtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    margin-top: 40px;
    margin-bottom: 40px;

} */

.launch {
  /* margin-top: 10px; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(/src/assets/section3/bgmobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-evenly;
  gap: 20px;
  padding: 9px 0px;
}

.title {
  margin-top: 60px;
  width: 90%;
}

.countdownContainer {
  display: flex;
  gap: 5px;
  margin-top: 4%;
  transform: scale(1.5);
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1460px) {
  .countdownContainer {
    transform: scale(1) translateY(0%);
  }
}

.countdown {
  width: 200px;
  /* height: 500px; */
  padding: 40px 20px;
  text-align: center;
  background-image: url("/src/assets/section3/countdownpaper.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 4rem;
  font-family: "Blow Brush";
  /* width: 200px; */
}

.countdownNumber {
  display: block;
  line-height: 100px;
  font-size: 6rem;
}

.getbetrayedbtn {
  background-color: transparent;
  /* width: 10%; */
  margin-top: 80px;
  /* margin-right: 120px; */
  /* width: 100px; */
}

.getbetrayedbtn img {
  width: 80%;
}

.logo {
  width: 20%;
  position: absolute;
  top: 2%;
  left: 65%;
}

.scrolldownBtn {
  position: relative;
  bottom: 10%;
  right: 5%;
  margin-left: auto;
}

.button {
  width: 80%;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.titleContainer h1 {
  font-family: "Crunchy Time";
  font-size: 1.5rem;
  border: 3px solid black;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
}
